@import "../Helpers/variables";

.App-C1{
    max-width: 100%;
    border-radius: 1em 1em 0 0;
    pointer-events: none;
    max-height:  669px;
}

.Cards_style{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 70px 90px;
    border: 2px solid none;
    font-size: calc(15px + 2vmin);
    margin-block-end: 40px;
    padding: 0 40px 0 40px;
}

.Card01{
    grid-row: 1;
    background-color: $one_card;
    border: 2px solid $white_text;
    border-radius: 1.1em;
}

.Card02{
    grid-row: 1;
    grid-row-start: 2;
    background-color: $one_card;
    border: 2px solid $white_text;
    border-radius: 1.1em;
}

.Card_title{
    font-size: calc(10px + 2vmin);
    color: $orange_header;
    font-weight: 300;
    transform: translateY(-10px)
}

.Card_button {
    width: 50%;
    cursor: pointer;
    border: 1px solid none;
    color: black;
    transform: translateY(-10px);
    font-size: calc(10px + 2vmin);
}

.content{
    transform: translateY(-15px);
}

@media (max-width: 800px) {
    .Cards_style{
        transform: translateY(-100px);
        grid-gap: 20px 20px;
        padding: 0 0 0 0;
        margin-block-end: -60px;
        margin-top: 120px ;
    }
    .Card_title{
        font-size: calc(7px + 2vmin);
        color: $orange;
        font-weight: 300;
        transform: translateY(6px);
    }
    .Card_button{
        font-size: calc(7px + 2vmin);
        transform: translateY(-20px);
        width: 50%;
        cursor: pointer;
        border: 1px solid none;
    }
}