@import "../Helpers/variables";

.Block_error{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient($orange_header, $white_text);
    min-height: 100vh;

}

.Titre_404{
    display: flex;
    font-size: calc(250px + 2vmin);
    margin-block-start: 40px;
    font-family: $font_title;
    margin-block-end: 30px;
}

.Text_404{
    font-size: calc(20px + 2vmin);
    font-family: $font_title;
    text-align: center;
}

@media (max-width: 800px) {
	.Titre_404{
        font-size: calc(150px + 2vmin);
        margin-block-start: 40px;
    }
    .Text_404{
        text-align: center;
    }
}