@import "../Helpers/variables";

.Form_quizz h1{
    margin: 15px 0;
    font-size: 25px;
    font-family: $font_title;
    font-weight: normal;
    color: white;
    text-transform: none;
    text-shadow: none;
    text-align: center;
    background-color: $bkcolor_body;
}