@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

$bkcolor_body : #1900FB;

$yellow :  #FFF202;

$orange : #FF7000;

$font_title :
    Russo One;

$one_card : 
    rgb(236, 236, 236);