@import "../../Helpers/variables";

h2{
    margin: 15px 0;;
    font-size: 35px;
    font-family: $font_title;
    font-weight: normal;
    color: white;
    text-transform: none;
    text-shadow: none;
    text-align: center;
}

.Form_quizz h3{
    margin: 25px 0;
    font-size: 22px;
    font-family: $font_title;
    font-weight: normal;
    color: white;
    text-transform: none;
    text-shadow: none;
    text-align: center;
    background-color: $bkcolor_body;
}